
.xian-box{
    font-size: 35px;
    background: #f6f6f6;
    overflow: hidden;
    .mianss{
        margin-top: 50px;
    }
     h1{
         font-size: 39px;
         padding: 20px 10px;
         box-sizing: border-box;
         background: #fff;
        margin-bottom:10px;
     }
     .content-box{
          background: #fff;
        padding: 10px;
     }
}