*{
    margin: 0;
    padding: 0;
}
.cxl-name{
   .contentbox{
       padding: 10px;
       padding-bottom: 30px;
       .block-tetx{
        padding: 15px 0 14px;
        margin: 0px 20px;
        border-bottom: .5px solid #d3d3d3;
        .title{
            font-size: 35px;
            font-weight: 600;
        }
        .content{
            font-size: 30px;
        }

    }
   }
}